anaptyksi2/src/META-INF/wsdl/localhost_3308/CPCServices.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://anaptyksi2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://anaptyksi2/">

<xs:element name="Connect" type="tns:Connect"></xs:element>

<xs:element name="ConnectResponse" type="tns:ConnectResponse"></xs:element>

<xs:element name="Disconnect" type="tns:Disconnect"></xs:element>

<xs:element name="DisconnectResponse" type="tns:DisconnectResponse"></xs:element>

<xs:element name="ImHere" type="tns:ImHere"></xs:element>

<xs:element name="ImHereResponse" type="tns:ImHereResponse"></xs:element>

<xs:complexType name="Connect">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg7" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg8" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg9" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg10" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg11" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg12" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg13" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg14" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConnectResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="Disconnect">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisconnectResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ImHere">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImHereResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>