Anaptyksi/xml-resources/web-service-references/CPCServices/wsdl/192.168.1.2_3308/CPCServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://anaptyksi2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://anaptyksi2/" name="CPCService">
<types>
<xsd:schema>
<xsd:import namespace="http://anaptyksi2/" schemaLocation="http://192.168.1.2:3308/CPCServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Connect">
<part name="parameters" element="tns:Connect"></part>
</message>
<message name="ConnectResponse">
<part name="parameters" element="tns:ConnectResponse"></part>
</message>
<message name="Disconnect">
<part name="parameters" element="tns:Disconnect"></part>
</message>
<message name="DisconnectResponse">
<part name="parameters" element="tns:DisconnectResponse"></part>
</message>
<message name="ImHere">
<part name="parameters" element="tns:ImHere"></part>
</message>
<message name="ImHereResponse">
<part name="parameters" element="tns:ImHereResponse"></part>
</message>
<portType name="CPC">
<operation name="Connect">
<input wsam:Action="http://anaptyksi2/CPC/ConnectRequest" message="tns:Connect"></input>
<output wsam:Action="http://anaptyksi2/CPC/ConnectResponse" message="tns:ConnectResponse"></output>
</operation>
<operation name="Disconnect">
<input wsam:Action="http://anaptyksi2/CPC/DisconnectRequest" message="tns:Disconnect"></input>
<output wsam:Action="http://anaptyksi2/CPC/DisconnectResponse" message="tns:DisconnectResponse"></output>
</operation>
<operation name="ImHere">
<input wsam:Action="http://anaptyksi2/CPC/ImHereRequest" message="tns:ImHere"></input>
<output wsam:Action="http://anaptyksi2/CPC/ImHereResponse" message="tns:ImHereResponse"></output>
</operation>
</portType>
<binding name="CPCPortBinding" type="tns:CPC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Connect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Disconnect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ImHere">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CPCService">
<port name="CPCPort" binding="tns:CPCPortBinding">
<soap:address location="http://192.168.1.2:3308/CPCServices"></soap:address>
</port>
</service>
</definitions>